#!/bin/zsh

# base
alias cd="nocorrect cd"
alias cp="nocorrect cp -i"
alias gcc="nocorrect gcc"
alias ln="nocorrect ln -i"
alias man="nocorrect man"
alias mkdir="nocorrect mkdir -p"
alias mv="nocorrect mv -i"
alias rm="nocorrect rm -i"
alias ls="nocorrect ls --color"
alias sl="ls"

# Replace the default software
type htop >/dev/null 2>&1 && alias top="htop"
type rg >/dev/null 2>&1 && alias -g grep="rg"
type cw >/dev/null 2>&1 && alias -g wc="cw"
type fd >/dev/null 2>&1 && alias find="fd"
type exa >/dev/null 2>&1 && alias -g ls="exa"

# utils
type exa >/dev/null 2>&1 && alias tree="exa -T"
type nvidia-smi >/dev/null 2>&1 && alias ns="nvidia-smi"

# git
alias ga="git add"
alias gc="git commit"
alias gf="git fetch"
alias gm="git merge"
alias gb="git branch"
alias gd="git diff"
alias gl="git log"
alias gps="git push"
alias gpl="git pull"
alias gsw="git switch"
alias gst="git status -u"
alias grs="git restore"
alias glo="git log --oneline"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gua="
    git fetch origin &&
    git checkout dev && git pull origin dev &&
    git checkout main && git pull origin main &&
    git checkout -"

# ls
alias ll="ls -lh"
alias la="ls -a"
alias lla="ls -lah"

# cd
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias .......="cd ../../../../../.."

#screen
alias scs="screen -S"
alias scr="screen -r"
alias scd="screen -d"
